Adyen
amqp
aniso8601
anyio
appdata
asgiref
asn1crypto
astroid
async-timeout
atomicwrites
attrs
Authlib
authorizenet
autobahn
Automat
autopep8
azure-common
azure-core
azure-storage-blob
azure-storage-common
Babel
bcrypt
beautifulsoup4
billiard
bleach
boto3
botocore
braintree
Brotli
cachetools
celery
certifi
cffi
chardet
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
colored
constantly
cryptography
cssselect2
defusedxml
Deprecated
dill
distlib
dj-database-url
dj-email-url
dj-static
Django==3.2.15
django-admin-honeypot
django-admin-thumbnails
django-allauth
django-appconf
django-cache-url
django-celery-beat
django-ckeditor
django-countries
django-crispy-forms
django-filter
django-heroku
django-jazzmin
django-jet-reboot
django-js-asset
django-measurement
django-mptt
django-multiselectfield
django-paypal
django-phonenumber-field
django-prices
django-prices-openexchangerates
django-prices-vatlayer
django-redis
django-responsive2
django-session-timeout
django-storages
django-timezone-field
django-tinymce4-lite
django-versatileimagefield
djangorestframework
docx
draftjs-sanitizer
enmerkar
et-xmlfile
example
Faker
feedparser
filelock
fonttools
freezegun
google-api-core
google-auth
google-cloud-core
google-cloud-pubsub
google-cloud-storage
google-crc32c
google-i18n-address
google-measurement-protocol
google-resumable-media
googleapis-common-protos
graphene
graphql-core
graphql-relay
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
html-to-draftjs
html2text
html5lib
httptools
hyperlink
idna
incremental
iniconfig
isodate
isort
jaeger-client
jmespath
jsmin
jsonfield
kombu
lazy-object-proxy
lxml
Markdown
maxminddb
mccabe
measurement
micawber
mpmath
msrest
mysql-connector-python
mysqlclient
oauthlib
openpyxl
opentracing
packaging
pep8
petl
phonenumberslite
Pillow
platformdirs
pluggy
posuto
prices
promise
prompt-toolkit
proto-plus
protobuf
psycopg2
psycopg2-binary
py
pyasn1
pyasn1-modules
pybars3
pycodestyle
pycparser
pycryptodome
pydyf
PyHamcrest
PyJWT
pylint
PyMeta3
PyMySQL
pyparsing
pyphen
pytest
pytest-django
python-crontab
python-dateutil
python-decouple
python-docx
python-dotenv
python-http-client
python-json-logger
python-magic
python-magic-bin
python3-openid
pytimeparse
pytz
PyXB
PyYAML
razorpay
redis
reportlab
requests
requests-oauthlib
rsa
Rx
s3transfer
sendgrid
sentry-sdk
sgmllib3k
simplejson
six
sniffio
soupsieve
sqlparse
starkbank-ecdsa
static3
stripe
sympy
text-unidecode
threadloop
thrift
tinycss2
to-requirements.txt
toml
tomli
tomlkit
tornado
txaio
typed-ast
types-redis
typing_extensions
tzdata
Unipath
urllib3
uvicorn
vine
virtualenv
virtualenvwrapper-win
watchgod
wcwidth
weasyprint
webencodings
websockets
whitenoise
wrapt
zope.interface
zopfli


asgiref
certifi
chardet
defusedxml
dj-database-url

django-allauth
django-ckeditor
django-js-asset
django-multiselectfield
gunicorn
idna
oauthlib
Pillow
psycopg2
psycopg2-binary
python3-openid
pytz
requests
requests-oauthlib
sqlparse
urllib3
whitenoise

