{% load static %}
<div id="carouselExampleIndicators" class="carousel slide w3-hide-large w3-hide-medium" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.postimg.cc/k5LG6Zh8/mix-blend-multiply-bg-blue-400mkokmk.png" height="145px" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src=" https://i.postimg.cc/VNCfq2m9/mix-blend-multiply-bg-blue-400-bb.png" height="145px" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/P553RFfB/mix-blend-multiply-bg-blue-400-vv.png" height="145px" class="d-block" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://i.postimg.cc/3NyY7rvX/mix-blend-multiply-bg-blue-400cccccccccc.png" height="145px" class="d-block" alt="...">
    </div>
   
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>


<div class="w3-hide-small">
<div class="swiffy-slider slider-item-show2 slider-item-reveal slider-item-snapstart slider-item-nogap slider-item-reveal slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio " data-slider-nav-autoplay-interval="8000">
  <div class="slider-container">
    <div>   <img
      className="d-block w-100"
      src="https://i.postimg.cc/k5LG6Zh8/mix-blend-multiply-bg-blue-400mkokmk.png"
      alt="First slide"
    /></div>
      <div>    <img
        className="d-block w-100"
        src="https://i.postimg.cc/VNCfq2m9/mix-blend-multiply-bg-blue-400-bb.png"
        alt="First slide"
      /></div>

      <div>  <img
        className="d-block w-100"
        src="https://i.postimg.cc/P553RFfB/mix-blend-multiply-bg-blue-400-vv.png"
        alt="First slide"
      />   </div>
      <div>  <img
        className="d-block w-100"
        src="https://i.postimg.cc/3NyY7rvX/mix-blend-multiply-bg-blue-400cccccccccc.png"
        alt="First slide"
      /></div>


  
  </div>

  <button type="button" class="slider-nav" aria-label="Go left"></button>
  <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>
</div>




<!-- catergory -->
<div class="w3-hide-small">
  <div class="container">
    <div class="row justify-content-md-center ">
  
      <div class="col col-lg-2">
        <img
        height="165px"
        src="https://i.postimg.cc/dV7HPTDM/cement12-1-1.png"
        alt="First slide"
      />  
      </div>
      <div class="col col-lg-2">
        <img
        height="165px"
        src="https://i.postimg.cc/0Q3099Qt/steelin-1-1.png"
        alt="First slide"
      />  
      </div>
      <div class="col col-lg-2">
        <img
        height="165px"
        src="https://i.postimg.cc/CLKS3YDy/cement1234567890-1-2.png"
        alt="First slide"
      />  
      </div>
      <div class="col col-lg-2">
        <img
        height="165px"
        src="https://i.postimg.cc/WbrcL33H/cement12345678-1-2.png"
        alt="First slide"
      />  
      </div>

      <div class="col col-lg-2">
        <img
        height="165px"
        src="https://i.postimg.cc/3r1nyQqx/image-1.png"
        alt="First slide"
      />  
      </div>
    
    </div>
  </div>
</div>


<div id="carouselExampleIndicators" class="carousel slide w3-hide-large w3-hide-medium" data-bs-ride="carousel">
    <div class="slider-item-show3 slider-item-reveal    " data-slider-nav-autoplay-interval="8000">
      <div class="slider-container">
          <div class="px-1">
            <img
            height="150px"
            src="https://i.postimg.cc/dV7HPTDM/cement12-1-1.png"
            alt="First slide"
          />  
          </div>
         
          <div class="px-1">
            <img
            height="150px"
            src="https://i.postimg.cc/0Q3099Qt/steelin-1-1.png"
            alt="First slide"
          />  

          </div>

          <div class="px-1">
            <img
            height="150px"
            src="https://i.postimg.cc/CLKS3YDy/cement1234567890-1-2.png"
            alt="First slide"
          />  
          </div>

          <div class="px-1">
            <img
            height="150px"
            src="https://i.postimg.cc/WbrcL33H/cement12345678-1-2.png"
            alt="First slide"
          />  

          </div>
         
          <div>
            <img
            height="150px"
            src="https://i.postimg.cc/3r1nyQqx/image-1.png"
            alt="First slide"
          />   

          </div>

      </div>
      </div>


</div>
</div>
