{% load static %}

<!--Main Wrapper-->
<div class="wrapper">
    <!-- Header Start -->

    <!-- Header End -->

    <script>
    var x = document.getElementById("location");
    var current_location = sessionStorage.getItem("current_location")
    if(current_location != ""){
        x.value = current_location;
    }
    
    function getLocation() {
        if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
        } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }
    
    function showPosition(position) {
        var lat = position.coords.latitude
        var lng = position.coords.longitude

        // var lat = '19.0713949'
        // var lng = '72.9984126'

        // hit AJAX request to googlemaps api endpoint and get the location data using those lat and lng
        var GOOGLE_API_KEY = "{{ GOOGLE_API_KEY }}"
        var url = "https://maps.googleapis.com/maps/api/geocode/json?latlng="+lat+","+lng+"+&key="+GOOGLE_API_KEY
        
        $.ajax({
            url: url,
            type: "GET",
            success: function(response){
                var current_location = response.results[0].formatted_address
                x.value = current_location
                sessionStorage.setItem("current_location", current_location)
                window.location = '?lat='+lat+'&lng='+lng
            }
        })
    }
    </script>