{% load static %}
<!-- Main header start -->

<div class="w3-top px-4 ">

  <div class="w3-bar" id="myNavbar">
   
    <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-wide">
      <span class="w3-hide-small w3-hide-medium">
      <img src="https://i.postimg.cc/zB7cYLBj/infrabluebbbb-1-removebg-preview.png" alt="gohardware" width="100">
    </span>

    <span class="w3-hide-large ">
      <img src="https://i.postimg.cc/zB7cYLBj/infrabluebbbb-1-removebg-preview.png" alt="gohardware" width="60">
    </span>
    </a>


    <div class="w3-right w3-hide-small py-2">
    
      <a
      {% if '/' == request.path %}
      class="nav-link active"
      {% else %}
      class="nav-link"
      {% endif %}
     href="{% url 'homeworker' %}">
     <button type="button" class="w3-button w3-indigo w3-small  w3-round-large">Home</button>
  
    </a>
  

    <a
    {% if 'cars' in request.path %}
    class="nav-link active"
    {% else %}
    class="nav-link"
    {% endif %}
     href="{% url 'cars' %}"><button type="button" class="w3-button  w3-indigo w3-small  w3-round-large">
      
      MarketPlace
     </button>

    </a>

      {% if user.is_authenticated %}
    
      {% endif %}
      {% if user.is_authenticated %}
      <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}"><button type="button" class="w3-button  w3-indigo w3-small w3-round-large">Logout</button></a>
      {% else %}
      <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'loginpage' %}">
        <button type="button" class="w3-button  w3-indigo w3-small  w3-round-large"> Login</a>
      </button>
          <span><a href="{% url 'register' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0"><button type="button" class="w3-button  w3-indigo w3-small  w3-round-large">Register</button></a></span>
      {% endif %}



   
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium " onclick="w3_open()">
      <span class=""><i class="fa fa-bars"></i></span>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar    w3-animate-left w3-hide-medium w3-hide-large py-4 px-4" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class=" w3-button w3-padding-16">
    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded text-pink-600 bg-pink-200 uppercase last:mr-0 mr-1">
    Close ×</span></small></a>
  <br/><hr/><br/>
  <a
      {% if '/' == request.path %}
      class="nav-link active"
      {% else %}
      class="nav-link"
      {% endif %}
     href="{% url 'homeworker' %}">
     <button type="button" class="py-1.5 px-5 mr-2 mb-2 text-sm font-medium text-white focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">

     Home</button>
  
    </a>
    <br/>
    <a
    {% if 'cars' in request.path %}
    class="nav-link active"
    {% else %}
    class="nav-link"
    {% endif %}
     href="{% url 'cars' %}"><button type="button" class="py-1.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
      
      marketPlace
     </button>

    </a>

      {% if user.is_authenticated %}
    
      {% endif %}
      {% if user.is_authenticated %}
      <a class="cs-color cs-popup-joinus-btn login-popup text-danger" href="{% url 'logout' %}">
        <button type="button" class="py-1.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-red-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Logout</button></a>
      {% else %}  <br/>
      <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'loginpage' %}">
        <button type="button" class="py-1.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-red-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> Login
      </button></a>  <br/>
          <span><a href="{% url 'register' %}" class="cs-color cs-popup-joinus-btn login-popup ml-0">
            <button type="button" class="py-1.5 px-5 mr-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
            Register</button></a></span>
      {% endif %}
</nav>

